{{> popup }}
<div class="main-info">
    <h1>{{category.categoryName}}</h1>
</div>
<div class="btn-container">
    <button class="start-btn btn btn-dark"><i class="fa-solid fa-play"></i>Start the game</button>
    <p class="task-text alert alert-dismissible alert-dark hidden"></p>
</div>
<div class="container cards-container">
    {{#each category.cards}}
        {{> card this}}
    {{/each}}
</div>
<div class="answer-container"></div>
<div class="btn-container">
    <button type="button" class="btn btn-dark repeat-btn hidden"><i class="fa-solid fa-repeat"></i>  Repeat the word</button>
    <button type="button" class="btn btn-dark quit-btn hidden"><i class="fa-solid fa-circle-xmark"></i>  Quit the game</button>
</div>