<div class="cardsPage-container">
    <button type="button" class="menu-btn">menu</button>
    <button type="button" class="btn btn-primary switch-btn">Switch to play mode</button>
    <div class="category-container">
        <div class="flip-box-inner">
            <div class="card text-white bg-primary mb-3 flip-front" style="max-width: 20rem;">
                <div class="card-header"></div>
                <div class="card-body">
                    <div class="card-img-wrapper"></div>
                    <button type="button" class="btn btn-light sound-btn">Sound</button>
                    <button type="button" class="btn btn-light translation-btn">Translation</button>
                </div>
            </div>
            <div class="card text-white bg-secondary mb-3 flip-back" style="max-width: 20rem;">
                <div class="card-header-back">Flip side</div>
                <div class="card-body">
                    <div class="card-img-wrapper"></div>
                    <button type="button" class="btn btn-light sound-btn">Sound</button>
                </div>
            </div>
        </div>
    </div>
</div>