<div class="sidebar-container show">
    <nav class="menu-nav" aria-label="menu">
        <button class="closeBtn">
            Close menu
        </button>
        <div class="mobile-menu">
            <ul class="header-nav-list">
                {{#each categories}}
                    {{> categoryListItem this }}
                {{/each}}
            </ul>
        </div>
    </nav>
</div>