
    <nav class="menu-nav" aria-label="menu">
        <button id="menuBtn" class="menuBtn" aria-expanded="false" aria-controls="menu">
            <span aria-hidden="true">Menu</span>
            <span class="sr-menu sr-only">Open menu</span>
        </button>
        <div class="sidebar-container">
        <ul class="header-nav-list">
            <li class="header-nav-item" role="presentation"><a href="index.html" class="header-nav-item-link" role="menuitem">Main page</a></li>
                {{#each categories}}
                    {{> categoryListItem this }}
                {{/each}}
            </ul>
        </div>
    </nav>
