{{#each cards}}
    <tr data-name="{{ word }}">
        <td>{{ ../categoryName }}</td>
        <td>{{ word }}</td>
        <td>{{ translation }}</td>
        <td class="trained-cell">0</td>
        <td class="right-cell">0</td>
        <td class="wrong-cell">0</td>
        <td class="errors-cell">0</td>
    </tr>
{{/each}}
