<thead>
<tr>
    <th scope="col">
        <button>
            Categories
            <span aria-hidden="true"></span>
        </button>
    </th>
    <th scope="col">
        <button>
            Words
            <span aria-hidden="true"></span>
        </button>
    </th>
    <th scope="col">
        <button>
            Translation
            <span aria-hidden="true"></span>
        </button>
    </th>
    <th scope="col">
        <button>
            Trained
            <span aria-hidden="true"></span>
        </button>
    </th>
    <th scope="col">
        <button>
            Correct
            <span aria-hidden="true"></span>
        </button>
    </th>
    <th scope="col">
        <button>
            Incorrect
            <span aria-hidden="true"></span>
        </button>
    </th>
    <th scope="col">
        <button>
            Percent
            <span aria-hidden="true"></span>
        </button>
    </th>
</tr>
</thead>