*{
    box-sizing: border-box;
}

.header-nav-list{
    list-style-type: none;
}

.header-nav-item-link{
    text-decoration: none;
    color: black;
}

.cards-container .card{
    cursor: pointer;
}

.cards-container, .answer-container{
    padding: 50px;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card-container{
    background-color: transparent;
    width: 235px;
    height: 250px;
    perspective: 1000px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}


h2 .category-link{
    text-decoration: none;
}

.sidebar-container {
    position: fixed;
    top: 0;
    z-index: 10;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #f1f1f1;
    transition: left 0.3s ease;
    font-size: 1.2rem;
    line-height: 3rem;
}

.sidebar-container.show {
    left: 0;
}

.menuBtn {
    position: fixed;
    left: 150px;
    top: 10px;
    z-index: 100;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

button.hidden, p.hidden, div.hidden{
    display: none;
}

button.active, p.active{
    display: block;
}

p.task-text{
    font-size: 2rem;
    padding-right: 1rem;
}

.grayscale{
    filter: grayscale(100%);
}

.sr-only {
    position: absolute;
    top: -30em;
}


/* table */

table.sortable th {
    min-width: 120px;
    position: relative;
}

table.sortable th button {
    position: absolute;
    padding: 4px;
    margin: 1px;
    font-size: 100%;
    font-weight: bold;
    background: transparent;
    border: none;
    display: inline;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    outline: none;
    cursor: pointer;
}

table.sortable th button span {
    position: absolute;
    right: 4px;
}

table.sortable th[aria-sort="descending"] span::after {
    content: "▼";
    color: currentcolor;
    font-size: 100%;
    top: 0;
}

table.sortable th[aria-sort="ascending"] span::after {
    content: "▲";
    color: currentcolor;
    font-size: 100%;
    top: 0;
}

/* Focus and hover styling */

table.sortable th button:focus,
table.sortable th button:hover {
    padding: 2px;
    border: 2px solid currentcolor;
}

table.sortable th button:focus span,
table.sortable th button:hover span {
    right: 2px;
}

table.sortable th:not([aria-sort]) button:focus span::after,
table.sortable th:not([aria-sort]) button:hover span::after {
    content: "▼";
    color: currentcolor;
    font-size: 100%;
    top: 0;
}

/* pop-up */

.popup {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fff;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
}

.close {
    float: right;
    cursor: pointer;
}

