<!DOCTYPE html>
<html lang="en">
{{> partials/header }}
<body>
{{> partials/sidebar }}
<div class="container cards-container">
    {{#each categories}}
        {{> partials/category this}}
    {{/each}}
</div>
</body>
</html>
