<!DOCTYPE html>
<html lang="en">
{{> partials/header }}
<body>
{{> partials/sidebar }}

<div class="stat-body">
    <h1 class="stat-title main-info">Statistics</h1>
    <div class="btn-container">
        <button class="stat-clear-btn">Clear statistics</button>
        <button class="stat-train-btn">Train hard words</button>
    </div>

    <div class="stat-table">
        <p class="sr-only">Sortable table with information about all words that you can study</p>
        <table class="table sortable stat-table">
            {{> partials/stat-table }}
            <tbody>
            {{#each categories}}
                {{> partials/stat-row this}}
            {{/each}}
            </tbody>
        </table>    </div>
</div>
</body>
</html>