<!DOCTYPE html>
<html lang="en">
{{> partials/header }}

<body>
{{> partials/sidebar }}
<div class="main-info">
    <h1>Train hard words</h1>
</div>
<div class="main-container"></div>
</body>
</html>
